.App {
  text-align: center;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 82%;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container label {
  margin-right: 10px;
}

.todo-item {
  border: 1px solid lightgreen;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  width: 300px;
  position: relative;
  text-align: left;
}

.todo-item .actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todo-item input,
.todo-item select {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
}

.todo-form input {
  margin-right: 10px;
  border: 1px solid lightgreen;
  padding: 5px;
  border-radius: 4px;
}

.todo-form button {
  background-color: lightgreen;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #90ee90;
}

.todo-item select {
  background-color: maroon;
  color: white;
  padding: 5px 30px 5px 10px; /* Adjusted padding for arrow */
  border-radius: 4px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.todo-item select.completed {
  background-color: green;
}

.todo-item select.not-completed {
  background-color: red;
}

.todo-item select option {
  background-color: lightgreen;
  color: black;
}

.actions button.edit {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.actions button.delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

#status-filter {
  background-color: #ea4c1b;
  color: white;
  border: none;
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}
